includes:
    - vendor/phpstan/phpstan-mockery/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - '#Used function GuzzleHttp\\Psr7\\stream_for not found.#'
        - '#Cannot cast mixed to *.#'
        - '#Parameter \#1 \$query of method Tos\\Model\\PreSignedURLInput::setQuery\(\) expects array<string>, (.*?) given.#'
